.single {
	.comments-area {
		margin-left: 80px;
	}

	&.layout-sidebar-left {
		.comments-area {
			margin-left: 0;
			margin-right: 80px;
		}
	}
}

.comments-area {
	overflow: hidden;
	margin-bottom: 40px;

	.comment-list {
		list-style: none;
		padding: 0;
		margin: 0;
		.comment,
		.bypostauthor {
			margin-top: 20px;
			&:first-child {
				margin-top: 0;
			}

			.avatar {
				float: left;
			}
			.comment-content {
				padding-left: 80px;
				.author {
					color: #858585;
					float: left;
					font-size: 14px;
					padding: 5px 0;

					.author-name {
						&:before {
							content: "\f007";
							font-family: "FontAwesome";
							padding-left: 15px;
							padding-right: 5px;
						}
					}
				}

				.comment-extra-info {
					background-color: #F6F9FA;
					text-transform: uppercase;
					text-align: right;
					color: #666;
					font-size: 14px;
					padding: 5px 0;
					a {
						color: #666;
						&:hover {
							color: $restaurant_wp_body_primary_color;
							text-decoration: none;
						}
					}
					.date {
						float: none;
						display: inline-block;
						margin-right: 15px;
						&:before {
							content: "\f073";
							font-family: FontAwesome;
							padding-left: 15px;
							padding-right: 5px;
						}
					}

					.comment-reply-link {
						padding-left: 15px;
						padding-right: 5px;
					}

					.comment-edit-link {
						float: none;
						display: inline-block;
						margin-right: 15px;
					}
				}

				.message {
					padding-left: 15px;
					padding-top: 15px;
					float: left;
					width: 100%;
					p {
						margin-bottom: 0;
					}
				}
			}

			.children {
				border-top: 1px solid #dddddd;
				padding-top: 25px;
				margin-top: 20px;
				padding-left: 0;
				margin-left: 80px;
				list-style: none;
			}
		}
	}

	.comment-respond {
		.logged-in-as {
			a {
				&:hover {
					color: $restaurant_wp_body_primary_color;
				}
			}
		}
		label {
			max-width: 100%;
			display: inline-block;
			margin-bottom: 5px;
			font-weight: 700;
		}

		textarea {
			width: 100%;
			border: 1px solid #ddd;
			padding: 8px 15px;
		}

		input {
			width: 100%;
			border: 1px solid #ddd;
			padding: 8px 15px;
		}

		input,
		textarea {
			&:focus {
				outline: none;
			}
		}

		.comment-notes {
			margin-bottom: 20px;
		}

		.comment-form-author,
		.comment-form-email,
		.comment-form-url {
			width: 50%;
			display: block;
			margin-bottom: 20px;
		}

		.form-submit {
			.submit {
				width: auto;
				background-color: #2a2a2a;
				float: right;
				text-shadow: none;
				box-shadow: none;
				border: none;
				color: #fff;
				font-size: 13px;
				text-transform: uppercase;
				font-weight: 700;
				border-radius: 2px;
				&:hover {
					background-color: $restaurant_wp_body_primary_color;
				}
			}
		}
	}
}

@media (max-width: $screen-xs-max) {
	.comments-area {
		.comment-list {
			.comment {
				.children {
					margin-left: 20px;
				}
			}
		}
	}

	.single {
		&.layout-sidebar-left {
			.comments-area {
				margin-right: 0;
			}
		}
	}
}