#content {
	padding-top: 80px;
	padding-bottom: 80px;
}

.layout-sidebar-left {
	.site-main {
		article {
			.share-post {
				margin-left: 20px;
				margin-right: 0;
				float: right;
			}
		}
	}
}

.site-main {
	article {
		width: 100%;
		position: relative;
		@include clearfix();

		.share-post {
			width: 60px;
			margin-right: 20px;
			float: left;
			margin-bottom: 30px;

			.date-meta {
				width: 100%;
				color: #fff;
				text-align: center;
				font-size: 24px;
				font-weight: 700;
				padding: 10px 2px;
				line-height: 22px;
				background: $restaurant_wp_body_primary_color;

				.month {
					font-style: normal;
					display: block;
					font-size: 16px;
					font-weight: 400;
				}
			}

			.social-share {
				margin: 10px 0 0 0;
				border: 1px solid #eee;
				background-color: #fff;
				padding: 0;
				text-align: center;

				li {
					list-style: none;
					display: block;
					border-bottom: 1px solid #eee;
					width: 100%;

					a {
						display: block;
						padding-top: 10px;
						padding-bottom: 10px;

						&.sticky {
							color: #fe5621;
							font-size: 150%;
						}

						&.post-format {
							font-size: 120%;
						}

						&.facebook {
							color: #4c67a2
						}
						&.twitter {
							color: #00acee
						}
						&.googleplus {
							color: #d77066
						}
						&.pinterest {
							color: #d43b17
						}
					}

				}

			}
		}

		.content-inner {
			float: left;
			border-bottom: 1px solid #eee;
			padding-bottom: 50px;
			margin-bottom: 55px;

			@include calc('width', '100% - 80px');

			.entry-top {
				> * {
					display: block;
					margin-bottom: 25px;
				}
			}

			.entry-header {
				margin-bottom: 25px;

				.entry-title {
					font-size: 24px;
					line-height: 1.1em;
					margin-top: 0;

					a {
						color: #2a2a2a;
						&:hover {
							color: $restaurant_wp_body_primary_color;
							text-decoration: none;
						}
					}
				}

				.entry-meta {
					font-size: 13px;
					a {
						color: #2a2a2a;
						font-weight: 700;

						&:hover {
							color: $restaurant_wp_body_primary_color;
							text-decoration: none;
						}
					}

					.posted-on {
						.published:not(.updated) {
							display: none;
						}
					}

					.categories, .byline {
						padding-left: 10px;

						&:before {
							content: '\f111';
							font-family: FontAwesome, serif;
							font-size: 4px;
							padding-right: 10px;
							position: relative;
							top: -2px;
						}
					}
				}
			}

			.entry-footer {
				font-size: 13px;
				a {
					color: #2a2a2a;
					font-weight: 700;
					&:hover {
						color: $restaurant_wp_body_primary_color;
						text-decoration: none;
					}
				}

				.tags-links, .comments-link {
					padding-right: 10px;

					&:after {
						content: '\f111';
						font-family: FontAwesome, serif;
						font-size: 4px;
						padding-left: 10px;
						position: relative;
						top: -2px;
					}
				}
			}
		}

		.entry-content {
			margin-bottom: 20px;
		}
	}
}