.tm-table {
	display: table;
	table-layout: fixed;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}

a:focus,
a:active {
	text-decoration: none;
}

.navigation {
	.tm-table {
		width: 100%;
	}
	.width-navigation {
		text-align: right;
		ul {
			li {
				list-style: none;
				display: inline-block;
				vertical-align: middle;
			}
		}
		font-size: $restaurant_wp_font_size_main_menu;
		.inner-navigation {
			a {
				color: $restaurant_wp_main_menu_text_color;
				font-weight: $restaurant_wp_font_weight_main_menu;
				&:hover {
					color: $restaurant_wp_main_menu_text_hover_color;
					text-decoration: none;
				}
			}
			.navbar {
				margin-bottom: 0;
				border: none;
				padding: 0;
				text-align: right;
				min-height: inherit;
				> li {
					float: none;
					> a {
						text-transform: uppercase;
					}
				}

				.current-menu-item {
					a {
						color: $restaurant_wp_main_menu_text_hover_color;
					}
				}

				li {
					a {
						padding: 10px 20px;
						display: block;
					}
				}
			}
			.menu-right {
				margin-bottom: 0;
				display: inline-block;
				padding-left: 20px;
				border-left: 1px solid $restaurant_wp_main_menu_text_color;
				.list-links {
					padding-left: 0;
					> li {
						padding: 10px 0 10px 15px;
						&:first-child {
							padding-left: 0;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	#masthead {
		&.header-overlay {
			position: absolute;
			top: auto;
			right: 0;
			left: 0;
			z-index: 999;
		}

		&.header-default {
			position: relative;
			background-color: $restaurant_wp_bg_main_menu_color;
		}

		&.site-header {
			&.no-affix-top {
				.no-sticky-logo {
					display: none;
				}
				.sticky-logo {
					display: block;
				}
			}

			&.affix-top {
				background-color: transparent;
				-webkit-transition: all ease-out .3s;
				-moz-transition: all ease-out .3s;
				-ms-transition: all ease-out .3s;
				-o-transition: all ease-out .3s;
				transition: all ease-out .3s;
				.width-logo {
					.no-sticky-logo {
						display: block;
					}
					.sticky-logo {
						display: none;
					}
				}
			}

			&.affix {
				position: fixed;
				top: auto;
				width: 100%;
				padding-top: 10px;
				padding-bottom: 10px;
				background-color: rgba(10, 10, 10, 0.85);
				-webkit-transition: all ease-out .3s;
				-moz-transition: all ease-out .3s;
				-ms-transition: all ease-out .3s;
				-o-transition: all ease-out .3s;
				transition: all ease-out .3s;
				.width-logo {
					.no-sticky-logo {
						display: none;
					}
					.sticky-logo {
						display: block;
					}
				}
			}
		}
	}

	.site-header {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.navigation {
		.width-logo {
			a {
				&:hover {
					text-decoration: none;
				}
				img {
					-webkit-transition: all ease-out .3s;
					-moz-transition: all ease-out .3s;
					-o-transition: all ease-out .3s;
					-ms-transition: all ease-out .3s;
					transition: all ease-out .3s;
				}
			}
		}
		.width-navigation {
			.inner-navigation {
				display: table;
				float: right;
				.navbar {
					display: table-cell;
					vertical-align: middle;
					width: auto;
					> li {
						position: relative;
						.sub-menu {
							min-width: 200px;
							position: absolute;
							top: auto;
							left: 0;
							display: none;
							z-index: 999;
							padding: 0;
							margin: 0;
							background-color: #fff;
							box-shadow: 0 2px 3px rgba(0, 0, 0, .09);
							-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .09);
							-o-box-shadow: 0 2px 3px rgba(0, 0, 0, .09);
							-ms-box-shadow: 0 2px 3px rgba(0, 0, 0, .09);
							li {
								width: 100%;
								text-align: left;
								position: relative;
								&:after {
									content: "";
									position: absolute;
									left: 20px;
									right: 20px;
									height: 1px;
									background-color: #eee;
								}
								&:last-child {
									&:after {
										display: none;
									}
								}
								a {
									color: #3a3a3a;
									&:hover {
										color: $restaurant_wp_body_primary_color;
									}
								}
								> .sub-menu {
									top: 0;
									left: 100%;
								}
							}
						}
					}
				}

				.menu-right {
					display: table;
					right: 0;
					section {
						display: table-cell;
						vertical-align: middle;
					}
				}
			}
		}
	}
}