$restaurant_wp_header_background_color: #ffffff;
$restaurant_wp_main_menu_background_color: #111111;
$restaurant_wp_main_menu_text_color: #ffffff;
$restaurant_wp_main_menu_font_size: 28px;
$restaurant_wp_main_menu_font_weight: 900;
$restaurant_wp_sub_menu_background_color: #0a0a0a;
$restaurant_wp_sub_menu_text_color: #ffffff;
$restaurant_wp_sub_menu_text_color_hover: #0a0a0a;
$restaurant_wp_mobile_menu_background_color: #0a0a0a;
$restaurant_wp_mobile_menu_text_color: #848484;
$restaurant_wp_mobile_menu_text_color_hover: #d3d3d3;
