.widget {
	overflow: hidden;
	margin-bottom: 25px;

	* {
		max-width: 100% !important;
	}

	a {
		color: #666;
		&:hover {
			color: $restaurant_wp_body_primary_color;
			text-decoration: none;
		}
	}

	.widget-title {
		position: relative;
		margin-bottom: 20px;
		margin-top: 0;
		font-weight: 700;
		color: #333;
		font-size: 16px;
		text-align: center;
		text-transform: uppercase;
		span {
			z-index: 9;
			position: relative;
			padding-left: 5px;
			padding-right: 5px;
			background-color: #fff;
		}
		&:before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			height: 1px;
			top: 50%;
			background: #ddd;
			z-index: 1;
		}
	}

	ul {
		padding-left: 20px;
		li {
			padding-top: 8px;
			padding-bottom: 8px;
			list-style: none;
		}
	}

	&.widget_categories, &.widget_archive {
		> ul {
			padding: 0;

			> li {
				border-bottom: 1px solid #ddd;
				&:last-child {
					border-bottom: none;
				}
			}
		}

		ul {
			li {
				margin-bottom: 10px;
				padding-bottom: 10px;
				text-transform: uppercase;
				font-size: 13px;
				font-weight: 700;
			}
		}
	}

	&.widget_calendar {
		table {
			caption {
				text-align: center;
				padding-bottom: 10px;
			}

			tfoot {
				tr {
					#next {
						text-align: right;
					}

					#prev {
						text-align: left;
					}
				}
			}

			tr {
				td {
					padding: 10px;
				}

				th {
					text-align: center;
				}
			}
		}
	}

	&.widget_search {
		label {
			width: 100%;
			font-weight: normal;
			position: relative;
			&:after {
				content: "\f002";
				font-family: "FontAwesome";
				position: absolute;
				top: 6px;
				left: 10px;
			}

			input[type=search] {
				border: 1px solid #d2d2d2;
				border-radius: 2px;
				width: 100%;
				padding: 5px 30px;
				&:focus,
				&:active {
					border: 1px solid #eee;
					outline: none;
				}
			}
		}
		input[type=submit] {
			display: none;
		}
	}

	&.widget_recent_entries {
		ul {
			li {
				a {
					color: #2a2a2a;
					&:hover {
						color: $restaurant_wp_body_primary_color;
					}
				}

				.post-date {
					display: block;
					font-style: italic;
					font-size: 13px;
				}
			}
		}
	}

	// Widget archive dropdown
	&.widget_archive {
		select {
			@include border-radius(0);
			@extend .form-control;
		}
	}
}