#main-bottom {
	background-color: $restaurant_wp_body_primary_color;
	.widget {
		margin-top: 25px;
	}
}

#main-bottom {
	.widget_text {
		display: table;
		width: 100%;
	}
}

#main-bottom {
	.widget-title {
		display: table-cell;
		vertical-align: middle;
		text-align: right;
		span {
			background-color: $restaurant_wp_body_primary_color;
		}
		&:before {
			display: none;
		}
	}

	.mc4wp-form {
		display: table-cell;
		vertical-align: middle;
		padding-left: 10px;
	}

	.mc4wp-form-fields {
		p {
			float: left;
			label {
				display: none;
			}

			input[type=email] {
				padding: 5px 10px;
				width: 350px;
				border-radius: 2px;
				outline: none;
				border: none;
				background: #fff url("assets/images/bg-newletter.png") no-repeat right 10px center;

				&:focus,
				&:active {
					border: none;
					outline: none;
				}
			}

			input[type=submit] {
				margin-left: 10px;
				padding: 5px 20px;
				border: none;
				text-transform: uppercase;
				border-radius: 2px;
				background: #2a2a2a;
				color: #fff;

				&:focus,
				&:active {
					border: none;
					outline: none;
				}
			}
		}
	}

	.mc4wp-response {
		clear: both;

		.mc4wp-alert {
			padding: 10px 20px;

			p {
				margin-bottom: 0;
			}
		}

		.mc4wp-success {
			color: #468847;
			background-color: #dff0d8;
		}

		.mc4wp-error {
			color: #b94a48;
			background-color: #f2dede;
		}
	}
}

@media only screen and (min-width: 481px) and (max-width: $screen-xs-max) {
	#main-bottom {
		.widget-title {
			display: block;
			text-align: center;
		}

		.mc4wp-form {
			display: block;
		}

		.mc4wp-form-fields {
			text-align: center;
			p {
				&:first-child {
					width: 60%;
					text-align: right;
				}

			}
		}
	}
}

@media only screen and (max-width: 480px) {
	#main-bottom {
		.widget-title {
			display: block;
			text-align: center;
		}

		.mc4wp-form {
			display: block;
		}
		.mc4wp-form-fields {
			p {
				float: none;
				text-align: center;
			}
		}
	}
}