.wpcf7 {
	.row {
		margin: 0;
	}
	input {
		&:focus {
			outline: none;
		}
		border-radius: 2px;
		border: 1px solid #ddd;
		width: 100%;
	}

	textarea {
		&:focus {
			outline: none;
		}
		border-radius: 2px;
		border: 1px solid #ddd;
	}

	select {
		&:focus {
			outline: none;
		}
		width: 100%;
		border-radius: 2px;
		border: 1px solid #ddd;
	}
}

.pad-right {
	padding-left: 0;
}

.pad-left {
	padding-right: 0;
}

.none-pad {
	padding: 0;
	.your-subject {
		input {
			width: 100%;
			margin-bottom: 20px;
		}
	}
	.your-message {
		textarea {
			padding: 5px;
			width: 100%;
			margin-bottom: 20px;
		}
	}
	input[type=submit] {
		width: 100%;
		text-transform: uppercase;
		line-height: 30px;
		background-color: $restaurant_wp_body_primary_color;
		font-weight: normal;
		border: none;
		color: #333;
		&:hover {
			background-color: #2a2a2a;
			color: #fff;
		}
		&:focus,
		&:active,
		&:visited {
			border: none;
			outline: none;
		}
	}
}

.pad-right,
.pad-left,
.none-pad {
	margin-bottom: 20px;
	input {
		padding: 5px;
	}

	select {
		padding: 5px;
	}
}

div.wpcf7 img.ajax-loader {
	margin-top: -60px;
	margin-left: 50%;
}

div.wpcf7-response-output {
	margin: 0;
}

@media only screen and (max-width: $screen-xs-max) {
	.pad-right {
		padding-right: 0;
	}
	.pad-left {
		padding-left: 0;
	}
}

.contact-info-item {
	.contact-text {
		float: left;
		width: 30%;
		display: table;
	}

	.contact-value {
		display: table;
	}
	padding-bottom: 10px;
}