// shortcode gallery

p {
	a {
		&:hover {
			color: $restaurant_wp_body_primary_color;
		}
	}
}

.entry-content {
	.wp-playlist {
		.wp-playlist-caption {
			color: #666;
		}
		.wp-playlist-playing {
			.wp-playlist-caption {
				color: $restaurant_wp_body_primary_color;
			}
		}
	}
}

.gallery {
	.gallery-item {
		padding: 0 5px;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
}