$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

//
// Variables Theme
// --------------------------------------------------
$white: #fff;
$border-color: #ddd;
$restaurant_wp_body_bg_color: #ffffff;
$restaurant_wp_body_primary_color: #ffb606;
$restaurant_wp_font_body_font_family: aileron;
$restaurant_wp_font_body_color: #666666;
$restaurant_wp_font_body_font_weight: normal;
$restaurant_wp_font_body_font_style: normal;
$restaurant_wp_font_body_text_transform: none;
$restaurant_wp_font_body_font_size: 16px;
$restaurant_wp_font_body_line_height: 1.6em;
$restaurant_wp_font_title_font_family: Pacifico;
$restaurant_wp_font_title_color: #333333;
$restaurant_wp_font_title_font_weight: normal;
$restaurant_wp_font_title_font_style: normal;
$restaurant_wp_font_title_text_transform: none;
$restaurant_wp_font_title_font_size: 13px;
$restaurant_wp_font_title_line_height: 1.5em;
$restaurant_wp_font_h1_font_family: aileron;
$restaurant_wp_font_h1_color: #0e2a36;
$restaurant_wp_font_h1_font_weight: bold;
$restaurant_wp_font_h1_font_style: normal;
$restaurant_wp_font_h1_text_transform: none;
$restaurant_wp_font_h1_font_size: 58px;
$restaurant_wp_font_h1_line_height: 1.3em;
$restaurant_wp_font_h2_font_family: aileron;
$restaurant_wp_font_h2_color: #0e2a36;
$restaurant_wp_font_h2_font_weight: 700;
$restaurant_wp_font_h2_font_style: normal;
$restaurant_wp_font_h2_text_transform: none;
$restaurant_wp_font_h2_font_size: 56px;
$restaurant_wp_font_h2_line_height: 1.6em;
$restaurant_wp_font_h3_font_family: aileron;
$restaurant_wp_font_h3_color: #0e2a36;
$restaurant_wp_font_h3_font_weight: normal;
$restaurant_wp_font_h3_font_style: normal;
$restaurant_wp_font_h3_text_transform: none;
$restaurant_wp_font_h3_font_size: 34px;
$restaurant_wp_font_h3_line_height: 1.6em;
$restaurant_wp_font_h4_font_family: aileron;
$restaurant_wp_font_h4_color: #0e2a36;
$restaurant_wp_font_h4_font_weight: normal;
$restaurant_wp_font_h4_font_style: normal;
$restaurant_wp_font_h4_text_transform: capitalize;
$restaurant_wp_font_h4_font_size: 30px;
$restaurant_wp_font_h4_line_height: 1.8em;
$restaurant_wp_font_h5_font_family: aileron;
$restaurant_wp_font_h5_color: #0e2a36;
$restaurant_wp_font_h5_font_weight: normal;
$restaurant_wp_font_h5_font_style: normal;
$restaurant_wp_font_h5_text_transform: none;
$restaurant_wp_font_h5_font_size: 26px;
$restaurant_wp_font_h5_line_height: 1.6em;
$restaurant_wp_font_h6_font_family: aileron;
$restaurant_wp_font_h6_color: #0e2a36;
$restaurant_wp_font_h6_font_weight: normal;
$restaurant_wp_font_h6_font_style: normal;
$restaurant_wp_font_h6_text_transform: none;
$restaurant_wp_font_h6_font_size: 20px;
$restaurant_wp_font_h6_line_height: 1.4em;
$restaurant_wp_width_logo: 180;
$restaurant_wp_sub_menu_border_top_color: #000;
$restaurant_wp_bg_drawer_color: #ffffff;
$restaurant_wp_drawer_text_color: #ffffff;
$restaurant_wp_bg_offcanvas_sidebar_color: #141414;
$restaurant_wp_offcanvas_sidebar_text_color: #a9a9a9;
$restaurant_wp_offcanvas_sidebar_link_color: #ffffff;
$restaurant_wp_bg_main_menu_color: #000000;
$restaurant_wp_main_menu_text_color: #ffffff;
$restaurant_wp_main_menu_text_hover_color: #ffb606;
$restaurant_wp_font_size_main_menu: 13px;
$restaurant_wp_font_weight_main_menu: 700;
$restaurant_wp_sub_menu_bg_color: #222222;
$restaurant_wp_sub_menu_text_color: #bababa;
$restaurant_wp_sub_menu_text_color_hover: #ffffff;
$restaurant_wp_sub_menu_border_color: #06191A;
$restaurant_wp_sticky_bg_main_menu_color: #222222;
$restaurant_wp_sticky_main_menu_text_color: #fff;
$restaurant_wp_sticky_main_menu_text_hover_color: #01b888;
$restaurant_wp_bg_mobile_menu_color: #181818;
$restaurant_wp_mobile_menu_text_color: #dddddd;
$restaurant_wp_mobile_menu_text_hover_color: #01b888;
$restaurant_wp_footer_text_font_color: #fff;
$restaurant_wp_footer_bg_color: #181818;
$restaurant_wp_copyright_text_color: #aaa;