.site-footer {
	background: #333 bottom center no-repeat;
	color: #fff;

	.social-links {
		text-align: center;
		margin-top: 20px;
		.list-links {
			display: inline-block;
			li {
				display: inline-block;
				a {
					font-size: 18px;
					padding: 5px 10px;
					color: #fff;
					text-align: center;
					&:hover {
						color: $restaurant_wp_body_primary_color;
					}
				}
			}
		}
	}

	.site-info {
		color: #aaa;
		font-size: 13px;
		text-align: center;
		border-top: 1px solid rgba(170, 170, 170, 0.2);
		padding: 30px 0;
		a {
			&:hover {
				text-decoration: none;
				color: #aaa;
			}
		}
	}
}