.search {
	.search-form {
		label {
			width: 100%;
			font-weight: normal;
			position: relative;
			&:after {
				content: "\f002";
				font-family: "FontAwesome";
				position: absolute;
				top: 6px;
				left: 10px;
			}

			input[type=search] {
				border: 1px solid #d2d2d2;
				border-radius: 2px;
				width: 100%;
				padding: 5px 30px;
				&:focus,
				&:active {
					border: 1px solid #eee;
					outline: none;
				}
			}
		}
		input[type=submit] {
			display: none;
		}
	}

	article {
		padding-bottom: 50px;
		margin-bottom: 30px;
		border-bottom: 1px solid #eee;
	}

	.entry-header {
		margin-bottom: 25px;
	}

	.page-header {
		margin-top: 0;
		.page-title {
			margin-top: 0;
		}
	}
	.entry-title {
		a {
			color: #2a2a2a;
			font-weight: 500;
			&:hover {
				color: $restaurant_wp_body_primary_color;
				text-decoration: none;
			}
		}
	}

	.entry-meta {
		font-size: 13px;
		margin-bottom: 10px;
		a {
			color: #2a2a2a;
			font-weight: 700;
			&:hover {
				color: $restaurant_wp_body_primary_color;
				text-decoration: none;
			}
		}

		.posted-on {
			.published:not(.updated) {
				display: none;
			}
		}

		.categories {
			padding-left: 10px;
			&:before {
				content: '\f111';
				font-family: FontAwesome, serif;
				font-size: 4px;
				padding-right: 10px;
				position: relative;
				top: -2px;
			}
		}

		.byline {
			padding-left: 10px;
			&:before {
				content: '\f111';
				font-family: FontAwesome, serif;
				font-size: 4px;
				padding-right: 10px;
				position: relative;
				top: -2px;
			}
		}
	}

	.entry-footer {
		font-size: 13px;
		a {
			color: #2a2a2a;
			font-weight: 700;
			&:hover {
				color: $restaurant_wp_body_primary_color;
				text-decoration: none;
			}
		}

		.edit-link {
			padding-left: 10px;
			&:before {
				content: '\f111';
				font-family: FontAwesome, serif;
				font-size: 4px;
				padding-right: 10px;
				position: relative;
				top: -2px;
			}
		}
	}
}