.reswp_heading {
	text-align: center;
	font-size: 50px;

	.sub_heading {
		font-family: 'Mr De Haviland', cursive;
		color: $restaurant_wp_body_primary_color;
		font-size: 150%;
		margin-bottom: -20px;
	}

	.title_heading {
		font-size: 50px;
		margin: 0;
	}
}